S3method(coef,pre)
S3method(predict,pre)
S3method(print,pre)
export(bsnullinteract)
export(cvpre)
export(importance)
export(interact)
export(pairplot)
export(pre)
export(singleplot)
import(MatrixModels)
import(Formula)
import(glmnet)
import(partykit)
importFrom("graphics", "barplot", "persp", "plot")
importFrom("stats", "aggregate", "complete.cases", "cor", "model.frame", "model.matrix", "offset", "predict", "quantile", "sd")
importFrom("methods", "as")
importFrom("utils", "installed.packages")