S3method(coef,pre)
S3method(coef,gpe)
S3method(predict,pre)
S3method(predict,gpe)
S3method(print,pre)
S3method(print,gpe)
S3method(plot,pre)



export(bsnullinteract)
export(cvpre)
export(importance)
export(interact)
export(pairplot)
export(pre)
export(gpe)
export(gpe_tress)
export(gpe_linear)
export(gpe_earth)
export(rTerm)
export(lTerm)
export(eTerm)
export(gpe_sample)
export(singleplot)



import(Formula)
import(glmnet)
import(stats)
import(graphics)
import(partykit)


importFrom("MatrixModels", "model.Matrix")
importFrom("methods", "as")
importFrom("utils", "installed.packages", "head", "tail", "object.size")
importFrom("earth", "earth")
importFrom("stringr", "str_match")