S3method("coef", "pre")
S3method("coef", "gpe")
S3method("predict", "pre")
S3method("predict", "gpe")
S3method("print", "pre")
S3method("print", "gpe")
S3method("plot", "pre")
S3method("summary", "pre")
S3method("summary", "gpe")


export("bsnullinteract")
export("cvpre")
export("importance")
export("interact")
export("pairplot")
export("pre")
export("gpe")
export("gpe_trees")
export("gpe_linear")
export("gpe_earth")
export("rTerm")
export("lTerm")
export("eTerm")
export("gpe_sample")
export("gpe_cv.glmnet")
export("singleplot")
export("corplot")
export("maxdepth_sampler")
export("gpe_rules_pre")
export("caret_pre_model")
export("explain")
export("rare_level_sampler")


import("Formula")
import("glmnet")
import("stats")
import("graphics")
import("partykit")
import("rpart")
import("survival")


importFrom("methods", "as")
importFrom("utils", "head", "tail", "object.size", "capture.output")
importFrom("earth", "earth")
importFrom("stringr", "str_match", "str_replace_all")
importFrom("Matrix", "sparseMatrix")
importFrom("MatrixModels", "model.Matrix")
importFrom("methods", "slot")


importClassesFrom("Matrix", "sparseMatrix")